#panel {
  display: flex;
  height: 100%;
}

#content {
  background: var(--bkg-color);
  color: var(--text-color);
  padding: 1rem;
  margin: 0;
  flex-grow: 1;
  display: flex;
}

#ext-layer-server {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

#url {
  width: 100%;
}

#panel > div {
  padding: 1rem;
}

#layers {
  min-height: 0;
  display: flex;
  flex-direction: column;
}

#layers ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

#layers li {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

#layers li button {
  text-align: left;
  overflow-wrap: anywhere;
  text-wrap-style: balance;
}

#loading-icon {
  width: 20%;
}

.title {
  margin-top: 0;
}

.clearable-input {
  flex-grow: 1;
  background-color: var(--bkg-color);
  width: auto;
  display: flex;
  flex-direction: row;
  border: 1px solid #cfd6dd;
  border-radius: 4px;
  margin-bottom: 2px;
  margin-right: 2px;
}

.filter-buttons {
  margin: 2px;
  display: flex;
  flex-direction: row;
}

.filter-buttons span {
  flex-grow: 1;
  align-self: center;
}

.clearable-input-field {
  font-size: 1rem;
  outline: none;
  border: 0;
  flex: 1 1 auto;
  width: 90%;
  background: transparent;
  color: var(--text-color);
  padding: 0;
}

.filter-icon,
.delete-icon {
  width: 16px;
  color: var(--text-color);
  padding: 0 0.5rem;
}

.delete-button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
