<div id="panel">
  <div id="content">
    <div id="ext-layer-server">
      <div id="sourcetype" class="group">
        <h3 class="title" i18n="Source Type">Source Type</h3>
        ${this.enabled_types.map(source_type => uHtmlFor({source_type}, source_type)`
        <button
          class="${this.sourceType === source_type ? 'gg-button active' : 'gg-button'}"
          onclick="${() => this.setSourceType(source_type as SourceType)}"
          i18n="${source_type}"></button>
        `)}
      </div>
      <div
        class="${((this.sourceType === 'auto_WMTS') || (this.sourceType === 'WMS') || (this.sourceType === 'WMTS')) ? 'group' : 'hidden'}">
        <h3 class="title" i18n="${'URL (' + this.sourceType + ')'}">${'URL (' + this.sourceType + ')'}</h3>
        <div class="clearable-input">
          <input type="text" id="url" class="gg-input clearable-input-field" oninput="${() => this.typeUrl()}" /><br />
          <button id="clear-url" class="delete-button hidden" onclick="${() => this.clearUrl()}">
            <img
              class="delete-icon"
              alt="delete-button-icon"
              tip="Reset filter"
              i18n="Reset filter"
              src="icons/trash.svg" />
          </button>
        </div>
        <button id="scan" i18n="Scan Source" class="gg-button" onclick="${() => this.scanLayers()}">Scan Source</button>
      </div>

      <div class="${((this.sourceType === 'local')) ? 'group' : 'hidden'}">
        <h3 class="title" i18n="Choose local file">Choose local file</h3>
        <div id="file-selector">
          <label for="file" id="file-label">
            <button class="gg-button" i18n="Select File"></button>
            <span>${this.fileDescription}</span>
          </label>
          <input type="file" accept=".gpx,.kml,.geojson,.json" id="file" onchange="${() => this.render()}" /><br />
        </div>
        <button id="load" i18n="Load File" class="gg-button" onclick="${() => this.loadFile()}"></button>
      </div>

      <div class="${((this.sourceType === 'predefined') && (this.enabled_types.length > 0)) ? 'group' : 'hidden'}">
        <h3 class="title" i18n="Predefined servers">Predefined servers</h3>
        ${this.predefined_sources.map(source => uHtmlFor(source, source.label)`
        <button class="gg-button" onclick="${() => this.scanExtLayers(source.type, source.url)}" i18n="${source.label}">
          ${source.label}
        </button>
        `)}
      </div>

      <div id="layers" class="${(this.allLayers.length > 0) || this.loading ? 'group' : 'hidden'}">
        <h3 class="title" i18n="Layers">Layers</h3>
        <div class="clearable-input">
          <img class="filter-icon" alt="filter-button-icon" src="icons/filter.svg" />
          <input
            id="layer-search-field"
            class="gg-input clearable-input-field"
            type="text"
            placeholder="${this.context.i18nManager.getTranslation('Filter external layers...')}"
            i18n="Filter external layers..."
            autocomplete="off"
            autocorrect="off"
            oninput="${(e: Event) => this.filterLayers((e.target! as HTMLInputElement).value)}" />
          <button class="${this.isFiltered ? 'delete-button' : 'hidden'}" onclick="${() => this.clearFilter()}">
            <img
              class="delete-icon"
              alt="delete-button-icon"
              tip="Reset filter"
              i18n="Reset filter"
              src="icons/trash.svg" />
          </button>
        </div>
        <div class="filter-buttons">
          <span>
            ${Object.values(this.selectedLayers).filter(selected => selected).length.toString()}
            ${this.context.i18nManager.getTranslation('layers selected')}
          </span>
          <button class="gg-button" tip="Select all filtered layers" onclick="${() => this.selectVisible()}">+</button>
          <button class="gg-button" tip="Unselect all filtered layers" onclick="${() => this.deselectVisible()}">
            -
          </button>
          <button class="gg-button" tip="Select none" onclick="${() => this.deselectAll()}">--</button>
        </div>
        <img
          id="loading-icon"
          alt="loading-icon"
          src="icons/loading.svg"
          class="${this.loading ? 'gg-spin' : 'hidden'}" />
        <ul>
          <!-- prettier-ignore -->
          ${this.layers.map(layer => uHtmlFor(layer, layer.treeItemId)`
          <li>
            <button
              class="${this.selectedLayers[layer.id]?'gg-button active':'gg-button'}"
              onclick="${() => this.toggle(layer.id)}">
              ${layer.name}
            </button>
          </li>
          `)}
        </ul>
        <button
          id="add"
          tip="Add selected"
          i18n="Add selected"
          class="gg-button"
          disabled="${!Object.values(this.selectedLayers).some(selected => selected)}"
          onclick="${() => this.addSelectedLayers()}">
          Add selected
        </button>
      </div>
    </div>
  </div>
</div>
