<div>
  <div class="title-container">
    <div
      class="${this.collapsed ? 'expander' : 'expander expanded'}"
      onpointerup="${(e: PointerEvent) => this.toggleCollapse(e)}">
      <img src="icons/expand.svg" alt="Expand the list of layers" />
    </div>
    <span class="title" i18n="Layers"></span>
    <span class="counter">${"(" + this.numberActiveLayer + "/" + this.layerList.length + ")"}</span>
  </div>

  <div class="layer-list">
    ${this.layerList.map((layer: BaseLayer) => uHtmlFor(layer, layer.treeItemId)`
    <girafe-layer-list-item-mobile layerId="${layer.treeItemId}"></girafe-layer-list-item-mobile>
    `)}
  </div>
</div>
