#panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 20rem; /* For and from parent panel */
}
#panel > div {
  padding: 1rem 1.5rem 1rem 1.5rem;
}

#panel #drawingListContainer {
  overflow: scroll;
}

#panel button {
  border: solid 1px var(--bkg-color);
  color: var(--text-color-grad2);
  height: 2.4rem;
  width: 2.4rem;
  padding: 0;
  background-color: var(--bkg-color);
  cursor: pointer;
}

#panel button:hover {
  border: solid 1px var(--text-color-grad2);
}

#panel button.selected {
  border: solid 1px var(--text-color-grad2);
  background-color: var(--text-color-grad2);
  color: var(--bkg-color);
}

#drawingList {
  display: flex;
  flex-flow: column;
  gap: 0.15rem;
}

#drawingList .featureLine {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  width: 100%;
}

#drawingList div.girafe {
  display: flex;
  flex-wrap: wrap;
  padding: 0.3rem;
  border: solid 1px var(--text-color);
}

#drawingList input.name {
  border: none;
}

#drawingList .icon {
  width: 14px;
  height: 14px;
  fill: var(--text-color);
  margin: 3px;
}

#drawingList .icon:hover {
  fill: var(--text-color-grad2);
}

.picker_wrapper.popup {
  position: fixed !important;
  transform: translate(-120%, -5%);
}
