<div id="draggable">
  <div id="header">
    <span i18n="Share or embed this map">Share or embed this map</span>
    <img id="close" alt="close-icon" src="icons/close.svg" />
  </div>

  <nav class="gg-tabs">
    <button
      class="${(this.currentTab === 'share-map' ? 'gg-tab active' : 'gg-tab')}"
      onclick="${() => this.activateTab('share-map')}"
      i18n="Share this map">
      Share this map
    </button>
    <button
      class="${(this.currentTab === 'embed-map' ? 'gg-tab active' : 'gg-tab')}"
      onclick="${() => this.activateTab('embed-map')}"
      i18n="Embed this map">
      Embed this map
    </button>
  </nav>

  <div id="content">
    <!-- loading -->
    <img alt="loading-icon" src="icons/loading.svg" class="${(this.loading ? 'gg-spin' : 'hidden')}" />

    <!-- share tab -->
    <div id="share-map" class="${(!this.loading && this.currentTab === 'share-map' ? '' : 'hidden')}">
      <div>
        <div class="link">
          <input type="text" value="${this.shareLink}" class="gg-input" />
          <button class="gg-button" i18n="Copy link" onclick="${() => this.copyToClipboard('short')}">Copy link</button>
        </div>
      </div>

      <img alt="share-qrcode" class="${(this.qrCode ? 'qrcode' : 'hidden')}" src="${this.qrCode}" />
      <div class="${(this.success ? 'hidden' : 'qrcode error')}">
        <img alt="error-icon" src="icons/error.svg" />
        <span i18n="Error, can not fetch the shortener service. Please try again later."
          >Error, can not fetch the shortener service. Please try again later.</span
        >
      </div>

      <div class="social">
        <button onclick="${() => this.shareFacebook()}">
          <img alt="share-facebook" src="${this.facebookLogo}" />
        </button>
        <button onclick="${() => this.shareTwitter()}">
          <img alt="share-twitter" src="${this.twitterLogo}" />
        </button>
        <button onclick="${() => this.shareLinkedIn()}">
          <img alt="share-linkedin" src="${this.linkedInLogo}" />
        </button>
        <button onclick="${() => this.shareMail()}">
          <img alt="share-mail" src="${this.mailLogo}" />
        </button>
      </div>
    </div>

    <!-- iframe tab -->
    <div id="embed-map" class="${(!this.loading && this.currentTab === 'embed-map' ? '' : 'hidden')}">
      <div class="link">
        <select class="gg-select" id="logLevel" onchange="${(evt: Event) => this.onSizeChanged(evt)}">
          <option ?selected="${this.iframeSize === 'small'}" i18n="Small" value="small">Small</option>
          <option ?selected="${this.iframeSize === 'medium'}" i18n="Medium" value="medium">Medium</option>
          <option ?selected="${this.iframeSize === 'large'}" i18n="Large" value="large">Large</option>
        </select>
        <input type="text" value="${this.iframeCode}" class="gg-input" />
        <button class="gg-button" i18n="Copy code" onclick="${() => this.copyToClipboard('iframe')}">Copy code</button>
      </div>
      <p i18n="Preview">Preview</p>
      <iframe
        title="embeded map"
        src="${this.iframeUrl}"
        width="${this.iframeWidth}"
        height="${this.iframeHeight}"></iframe>
    </div>
  </div>
</div>
