#draggable {
    position: absolute;
    z-index: 9000;
    background-color: #666;
    text-align: center;
    width: 10rem;
}

#content button {
    border: none;
    border-bottom: solid 1px #666;
    height: 2.2rem;
    width : 100%;
    text-align: left;
    padding: 0;
    padding-left: 0.5rem;
    background-color: #fff;
}

#content span {
    margin-left : 0.2rem;
    position: relative;
    margin-top : -0.5rem;

}

#header {
    padding: 0.2rem;
    min-height : 2rem;
    cursor: move;
    background-color: #666;
    color: #fff;
}

#drawingList {
    min-height: 5rem;
    background-color: #fff;
    padding-top: 2rem;
}

#drawingList div.girafe {
    display: inline-block;
    padding: 0.5rem;
    margin-top: 0.1rem;
    background-color: #ddd;
    text-align: left;
    width : 100%;
}

#drawingList i {
    float: right;
    cursor: pointer;
    margin-left: 0.3rem;
}