<link rel="stylesheet" href="/lib/font-gis/css/font-gis.css" />
<link rel="stylesheet" href="/lib/fontawesome/css/all.min.css" />
<link rel="stylesheet" href="/lib/vanilla-picker/vanilla-picker.csp.css" />
<link rel="stylesheet" href="/components/redlining/toolbar/style.css" />

<div id="draggable">
  <div id="header"></div>
  <div id="content">
    <button id="point">
      <i class="fg-point fg-2x"></i>
      <span>Point</span>
    </button>
    <button id="line" >
      <i class="fg-polyline-pt fg-2x"></i>
      <span>Line</span>
    </button>
    <button id="polygon" >
      <i class="fg-polygon-pt fg-2x"></i>
      <span>Poligon</span>
    </button>
    <button id="square" >
      <i class="fg-square-pt fg-2x"></i>
      <span>Square</span>
    </button>
    <button id="rectangle" >
      <i class="fg-rectangle-pt fg-2x"></i>
      <span>Rectangle</span>
    </button>
    <button id="circle">
      <i  class="fg-circle-o fg-2x"></i>
      <span>Circle</span>
    </button>
    <button id="free">
      <i class="fg-map-edit fg-2x"></i>
      <span>Freehand</span>
    </button>
    <div id="drawingList"></div>
  </div>
</div>