<link rel="stylesheet" href="/lib/all.min.css" />
<link rel="stylesheet" href="/components/search/style.css" />

<div id="bar">
    <i id="point" class="fa-sm fa-solid fa-circle"></i>
    <i id="line" class="fa-xl fa-solid fa-horizontal-rule">LINE</i>
    <i id="square" class="fa-xl fa-solid fa-draw-square">SQUARE</i>
    <i id="rectangle" class="fa-xl fa-solid fa-draw-square">RECT</i>
    <i id="polygon" class="fa-xl fa-solid fa-draw-polygon"></i>
    <i id="circle" class="fa-xl fa-regular fa-circle"></i>
    <i id="free" class="fa-xl fa-solid fa-scribble">FREE</i>
</div>
