<link rel="stylesheet" href="styles/common.css" />

<button
  class="${this.status === 'downloaded' ? 'girafe-button-big' : 'hidden'}"
  onclick="${() => this.startRecording()}">
  <img alt="help-icon" src="${this.videoIcon}" />
</button>
<button class="${this.status === 'recording' ? 'girafe-button-big' : 'hidden'}" onclick="${() => this.stopRecording()}">
  <img alt="help-icon" src="${this.stopIcon}" />
</button>
<button class="${this.status === 'recorded' ? 'girafe-button-big' : 'hidden'}" onclick="${() => this.downloadRecord()}">
  <img alt="help-icon" src="${this.downloadIcon}" />
</button>
