#button {
  border: none;
  border-right: solid 1px #fff;
  width: 4rem;
  height: 4.6rem;
  background-color: #444;
  color: #fff;
  padding: 0;
  cursor: pointer;
  margin:0;
  display: inline-block;
  line-height: 4rem;
}

span {
  font-size: 1.3rem;
}

#button.hybrid {
  display: flex;
  flex-direction: column;
}

#button.hybrid i {
  display: block;
  height: 55%;
  line-height: 3.5rem;
}

#button.hybrid span {
  font-size: 0.8rem;
  height: 45%;
  line-height: 1.5rem;
}

#button:hover {
  background-color: #000;
}