<link rel="stylesheet" href="styles/common.mobile.css" />

<button
  class="girafe-button-big"
  title="Theme Selection"
  onclick="${() => this.toggleThemesList()}"
  onblur="${() => this.onBlur()}">
  <img alt="menu-icon" src="icons/themes.svg" />
</button>

<div class="${(this.menuOpen ? 'themes' : 'hidden')}">
  <h2 class="${(this.showBasemaps) ? '' : 'hidden'}" i18n="Basemaps">Basemaps</h2>
  <div class="${(this.showBasemaps) ? 'category' : 'hidden'}">
    ${Object.values(this.state.basemaps).map(basemap => uHtmlFor(basemap, basemap.id)`
    <button
      class="theme"
      onmousedown="${() => this.changeBasemap(basemap)}"
      onmouseup="${() => this.mouseUp()}"
      onblur="${() => this.onBlur()}">
      <img alt="${'Icon for ' + basemap.name}" src="images/basemap.png" />
      <span i18n="${basemap.name}">${basemap.name}</span>
    </button>
    `)}
  </div>

  <h2 i18n="Themes">Themes</h2>
  <div class="category row2">
    ${Object.values(this.state.themes._allThemes ?? {}).map(theme => uHtmlFor(theme, theme.id)`
    <button
      class="${this.isThemeActive(theme)? 'theme selected' : 'theme unselected'}"
      onmousedown="${() => this.onThemeChanged(theme)}"
      onmouseup="${() => this.mouseUp()}"
      onblur="${() => this.onBlur()}">
      <img alt="${'Icon for ' + theme.name}" src="${theme.icon}" />
      <span i18n="${theme.name}">${theme.name}</span>
    </button>
    `)}
  </div>

  <h2 class="${this.state.layers.layersList.length > 0 ? '' : 'hidden'}" i18n="Layers">Layers</h2>
  <div class="${this.state.layers.layersList.length > 0 ? 'category row22' : 'hidden'}">
    ${this.availableLayers().map(([layer, iconSrc]) => uHtmlFor(layer, layer.treeItemId)`
    <button
      class="${layer.active ? 'theme selected' : 'theme unselected'}"
      onmousedown="${() => this.onLayerSelected(layer)}"
      onmouseup="${() => this.mouseUp()}"
      onblur="${() => this.onBlur()}">
      <img alt="${'Icon for ' + layer.name}" src="${iconSrc}" />
      <span i18n="${layer.parent!.name}">${layer.parent!.name}</span>
      <span i18n="${layer.name}">${layer.name}</span>
    </button>
    `)}
  </div>
</div>
