#content {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.box {
  position: absolute;
  background-repeat: no-repeat;
}

.description {
  position: absolute;
  color: var(--bkg-color);
  font-size: 1.2rem;
  width: 15rem;
}

#themes {
  top: 4.5rem;
  left: 0;
  width: 150px;
  height: 120px;
  transform: rotateY(0deg) rotateX(0deg) rotateZ(90deg);
  background-position: bottom -50px left -60px;
}

#themes-description {
  top: 10.5rem;
  left: 10rem;
}

#search {
  top: 8rem;
  left: 45%;
  width: 180px;
  height: 70px;
  transform: rotateY(0deg) rotateX(0deg) rotateZ(90deg);
  background-position: -60px -30px;
}

#search-description {
  top: 16rem;
  left: 45%;
  text-align: center;
}

#menu {
  top: 4.5rem;
  right: 3rem;
  width: 150px;
  height: 120px;
  transform: rotateY(0deg) rotateX(0deg) rotateZ(180deg);
  background-position: bottom -50px left -60px;
}

#menu-description {
  top: 14rem;
  right: 10rem;
  text-align: right;
}

#basemap {
  bottom: 11rem;
  left: 26rem;
  width: 150px;
  height: 120px;
  transform: rotateY(0deg) rotateX(180deg) rotateZ(90deg);
  background-position: bottom -50px left -60px;
}

#basemap-description {
  bottom: 17rem;
  left: 36rem;
}

#user-preferences {
  bottom: 0.5rem;
  right: 3rem;
  width: 150px;
  height: 120px;
  transform: rotateY(180deg) rotateX(0deg) rotateZ(0);
  background-position: bottom -50px left -60px;
}

#user-preferences-description {
  bottom: 10rem;
  right: 10rem;
  text-align: right;
}
