<link rel="stylesheet" href="lib/fontawesome/css/all.min.css" />

<div class="content">
  <div class="content-horizontal">
    <div class="content-vertical">
      <girafe-button id="add-bookmark" size="small" icon-style="fa-sm fa-solid fa-plus"></girafe-button>
      <girafe-button
        size="small"
        icon-style="fa-sm fa-solid fa-arrow-left"
        class="border-top"
        onclick="${() => this.navigateBack()}"></girafe-button>
    </div>
    <div class="content-vertical">
      <girafe-menu-button icon-style="fa-sm fa-solid fa-bookmark" size="small" open="bottom-left">
        <div slot="menu-content">
          <div class="${this.hasBookmark ? 'menu-content' : 'hidden'}">
            ${Object.values(this.bookmarks).map(bookmark => uHtml.for(bookmark)`
            <div class="content-horizontal">
              <girafe-button
                text="${bookmark.name}"
                size="large"
                class="grow transparent border-top"
                onclick="${() => this.navigateToPosition(bookmark.position)}"></girafe-button>
              <girafe-button
                size="small"
                icon-style="fa-sm fa-solid fa-trash"
                class="border-top transparent"
                onclick="${() => this.removeBookmark(bookmark)}"></girafe-button>
            </div>
            ` )}
          </div>
          <div class="${this.hasBookmark ? 'hidden' : 'menu-content'}">
            <girafe-button text="No bookmark yet..." size="large" class="transparent"></girafe-button>
          </div>
        </div>
      </girafe-menu-button>
      <girafe-button
        size="small"
        icon-style="fa-sm fa-solid fa-arrow-right"
        class="border-top"
        onclick="${() => this.navigateForward()}"></girafe-button>
    </div>
  </div>
</div>
