<div id="swipe-up-panel" class="hidden">
  <div class="top-container">
    <div
      class="handle-container"
      onpointerdown="${(e: PointerEvent) => this.swipeHandleOnPointerDown(e)}"
      onpointerup="${() => this.swipeHandleOnPointerUp()}"
      onpointermove="${(e: PointerEvent) => this.swipeHandleOnPointerMove(e)}">
      <div class="handle"></div>
    </div>
    <img
      class="close-button"
      alt="close swipe up panel"
      src="icons/close.svg"
      onpointerdown="${() => this.closeButtonOnPointerDown()}" />
  </div>

  <div class="middle-container">
    <slot name="main"></slot>
  </div>
</div>
