<link rel="stylesheet" href="/components/language/style.css" />

<girafe-menu-button id="menu-button" icon-style="fa-xl fa-solid fa-language" open="left">
  <div slot="menu-content">
    <girafe-button text="DE" message="Translate" action="changeLanguage" data-language="de"></girafe-button>
    <girafe-button text="FR" message="Translate" action="changeLanguage" data-language="fr"></girafe-button>
    <girafe-button text="EN" message="Translate" action="changeLanguage" data-language="en"></girafe-button>
  </div>
</girafe-menu-button>

