<link rel="stylesheet" href="styles/common.css" />

<girafe-menu-button open="left">
  <button slot="menu-button" class="girafe-button-medium">
    <img alt="menu-icon" src="${this.languageIcon}" />
    <span>Lang</span>
  </button>

  ${this.languages.map((language) => uHtml`
  <button slot="menu-content" class="girafe-button-medium" onclick="${() => this.changeLanguage(language)}">
    <img alt="help-icon" src="${this.languageIcon}" />
    <span>${language.toUpperCase()}</span></button
  >` )}
</girafe-menu-button>
