/* Common general styles */
.hidden {
  display: none;
}

/* Big button (icon only) */
.girafe-button-big {
  width: 3.5rem;
  height: 3.5rem;
  align-items: center;
  padding: 0.5rem;
  border-radius: 4rem;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.3));
  background-color: var(--bkg-color);
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  border: none;
}

.girafe-button-big img {
  overflow: hidden;
  width: 95%;
  height: auto;
  padding: 5%;
}

.girafe-button-big:hover,
.girafe-button-large:hover,
.girafe-button-small:hover,
.girafe-button-tiny:hover {
  background-color: var(--bkg-color);
}
