table.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px auto;
}

table.custom-table tr {
  border-bottom: 1px solid #ccc;
}

table.custom-table th,
table.custom-table td {
  padding: 5px 0px;
  vertical-align: middle;
  text-align: left;
}

table.custom-table tr:last-child {
  border-bottom: none;
}

tr {
  border-bottom: 1px solid #000000;
}

.map-info-contextmenu {
  --contextmenu-border-width: 1px;
  --contextmenu-triangle-width: 20px;
  --contextmenu-triangle-height: 10px;
  min-width: 300px !important;
  position: absolute;
  box-sizing: content-box;
  background-color: var(--bkg-color) !important;
  color: var(--text-color);
  padding: 15px;
  border-radius: 0px;
  border: var(--contextmenu-border-width) solid var(--text-color-grad1);
  bottom: var(--contextmenu-triangle-height); /* 10px */
  left: -165px; /* Half popup width + padding */
}

.map-info-contextmenu .tooltip-triangle {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: var(--contextmenu-triangle-height);
  pointer-events: none;
}

.map-info-contextmenu .tooltip-triangle .triangle-fill {
  fill: var(--bkg-color);
  stroke: none;
}

.map-info-contextmenu .tooltip-triangle .triangle-border {
  fill: none;
  stroke: var(--text-color-grad1);
  stroke-width: var(--contextmenu-border-width);
}

.contextmenu-closer {
  text-decoration: none;
  position: absolute;
  top: 0px;
  right: 0px;
}
.contextmenu-closer:after {
  content: '✖';
}

.justify-right {
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
}

.custom-cell {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}
