/* SPDX-License-Identifier: Apache-2.0 */
.basemap-button {
  background-color: var(--bkg-color);
  color: var(--text-color);
  outline: 0;
  border: var(--app-standard-border);
  border-radius: 4px;
  border-width: 2px;
  display: inline-flex;
  box-sizing: border-box;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  box-shadow: var(--bx-shdw);
}

#container {
  display: inline-flex;
  flex-direction: column;
  width: max-content;
}

.basemap-icon {
  background: var(--svg-legend-bkg);
  filter: var(--svg-map-filter);
}

.active-basemap {
  background-color: var(--bkg-color-grad2) !important;
}

.opacity-slider {
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  height: 20px;
}

.opacity-slider img {
  height: 16px;
  top: 2px;
  position: relative;
}

.opacity-slider input[type='range'] {
  flex-grow: 1;
}

.basemap-container {
  display: flex;
  flex-direction: column;
}

.basemap-container button {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  color: var(--text-color);
  flex-grow: 1;
}

.basemap-container button img {
  margin: 0.3rem;
  height: 2rem;
}
.basemap-container button span {
  line-height: 2rem;
  height: 2rem;
  margin: 0.3rem;
}

.basemap-container:hover {
  background-color: var(--bkg-color-grad1);
}

.basemaps-with-opacity-separator {
  border-top: 1px solid var(--bkg-color-grad2);
  height: 1px;
  margin: 6px 8px;
}
