<div id="panel">
  <div>
    <div class="option">
      <label for="layout" i18n="View" class="gg-label">View</label>
      <select id="layout" class="gg-select" onchange="${this.onLayoutSelect}">
        <option i18n="2D" value="2D">2D</option>
        <option i18n="2D / 3D" value="2D/3D">2D / 3D</option>
        <option i18n="3D" value="3D">3D</option>
      </select>
    </div>
    <div class="option shadow-option hidden">
      <label for="shadowCheckbox" i18n="Enable shadows" class="gg-label">Enable shadows</label>
      <input
        id="shadowCheckbox"
        type="checkbox"
        class="gg-checkbox"
        disabled
        title="TODO: Connect to globe shadow feature" />
    </div>
  </div>
</div>
