<link rel="stylesheet" href="styles/common.css" />
<link rel="stylesheet" href="lib/tabulator-tables/tabulator.min.css" />
<link rel="stylesheet" href="lib/font-gis/font-gis.css" />
<link rel="stylesheet" href="../../../node_modules/tabulator-tables/dist/css/tabulator.css" />

<div id="panel">
  <div id="content">
    <div id="header">
      ${this.getTabHeaders().map((th) => uHtml`
      <button
        id="${th.id}"
        i18n="${th.text}"
        class="${th.active ? 'tab active' : 'tab'}"
        .active="${th.active}"
        onclick="${() => this.displayGrid(th.id, true)}"></button>
      `)}
    </div>
    <div id="tabulator"></div>
  </div>
  <div id="gutter"></div>
  <button id="close" onclick="this.closePanel()">
    <img id="close" alt="close-icon" src="icons/close.svg" />
  </button>
</div>
