<div id="draggable" class="girafe-draggable-window">

  <!--  Resize buttons-->
  <button tabindex="-1" class="girafe-resizer tl corner"></button>
  <button tabindex="-1" class="girafe-resizer t top-bottom"></button>
  <button tabindex="-1" class="girafe-resizer tr corner"></button>
  <button tabindex="-1" class="girafe-resizer r left-right"></button>
  <button tabindex="-1" class="girafe-resizer br corner"></button>
  <button tabindex="-1" class="girafe-resizer b top-bottom"></button>
  <button tabindex="-1" class="girafe-resizer bl corner"></button>
  <button tabindex="-1" class="girafe-resizer l left-right"></button>

  <div id="header">
    <span i18n="${this.state.infoWindow.title}"></span>
    <img id="close" alt="close-icon" src="icons/close.svg" />
  </div>
  <div id="content">
    <iframe title="iframe content" src="${this.state.infoWindow.url}"></iframe>
  </div>
</div>
