<div id="draggable" class="girafe-draggable-window">
  <!--  Resize buttons-->
  <button tabindex="-1" class="girafe-resizer tl corner"></button>
  <button tabindex="-1" class="girafe-resizer t top-bottom"></button>
  <button tabindex="-1" class="girafe-resizer tr corner"></button>
  <button tabindex="-1" class="girafe-resizer r left-right"></button>
  <button tabindex="-1" class="girafe-resizer br corner"></button>
  <button tabindex="-1" class="girafe-resizer b top-bottom"></button>
  <button tabindex="-1" class="girafe-resizer bl corner"></button>
  <button tabindex="-1" class="girafe-resizer l left-right"></button>

  <div id="header">
    <span i18n="${this.state.infoWindow.title}" class="title"></span>
    <button class="gg-icon-button gg-medium" onclick="${() => this.closeWindow()}" tip="Clear results and close Panel">
      <img alt="close-icon" src="icons/close.svg" />
    </button>
  </div>
  <div class="hr"></div>
  <div id="content">
    <iframe title="iframe content" src="${this.state.infoWindow.url}"></iframe>
  </div>
</div>
