<link rel="stylesheet" href="/lib/font-gis/css/font-gis.css" />
<link rel="stylesheet" href="/lib/fontawesome/css/all.min.css" />
<link rel="stylesheet" href="/lib/vanilla-picker/vanilla-picker.csp.css" />
<link rel="stylesheet" href="/components/redlining/style.css" />

<div id="panel">
  <div id="gutter"></div>
  <div id="content">
    <button id="disable" tip="Disable drawing" tip-left class="selected">
      <i class="fg-arrow-o fg-2x"></i>
    </button>
    <button id="point" tip="Point" tip-left>
      <i class="fg-point fg-2x"></i>
    </button>
    <button id="line" tip="Line" tip-left>
      <i class="fg-polyline-pt fg-2x"></i>
    </button>
    <button id="polygon" tip="Polygon" tip-left>
      <i class="fg-polygon-pt fg-2x"></i>
    </button>
    <button id="square" tip="Square" tip-left>
      <i class="fg-square-pt fg-2x"></i>
    </button>
    <button id="rectangle" tip="Rectangle" tip-left>
      <i class="fg-rectangle-pt fg-2x"></i>
    </button>
    <button id="circle" tip="Circle" tip-left>
      <i  class="fg-circle-o fg-2x"></i>
    </button>
    <button id="freeline" tip="Freehand line" tip-left>
      <i class="fg-polyline fg-2x"></i>
    </button>
    <button id="freepolygon" tip="Freehand polygon" tip-left>
      <i class="fg-polygon-o fg-2x"></i>
    </button>
    <button id="undo" tip="Undo" tip-left>
      <i class="fg-help-larrow fg-2x"></i>
    </button>
    <div id="drawingList"></div>
  </div>
</div>