<link rel="stylesheet" href="lib/font-gis/css/font-gis.css" />
<link rel="stylesheet" href="lib/fontawesome/css/all.min.css" />
<link rel="stylesheet" href="lib/tippy.js/tippy.min.css" />

<div id="panel">
    <div id="menu">
        <girafe-button id="options" icon-style="fa-sm fa-solid fa-gears selectable" size="small" tip="Advanced options" tip-placement="top" class="transparent"></girafe-button>
        <girafe-button id="togglelegends" icon-style="fa-sm fa-solid fa-bars selectable" size="small" tip="Toggle all legends" tip-placement="top" class="transparent selected"></girafe-button>
        <girafe-button id="expandall" icon-style="fa-sm fa-solid fa-caret-down selectable" size="small" tip="Expand / Collapse all" tip-placement="top" class="transparent"></girafe-button>
        <girafe-button id="delete" icon-style="fa-sm fa-solid fa-trash selectable" size="small" tip="Remove all layers" tip-placement="top" class="transparent"></girafe-button>
        <girafe-button id="swipe" icon-style="fa-sm fa-solid fa-left-right selectable" size="small" tip="Hide Swiper" tip-placement="top"></girafe-button>
        <girafe-basemap tip="Select basemap"></girafe-basemap>
    </div>
    <ul id="treeview-list"></ul>
    <div id="gutter"></div>
    <div id="hide">
        <i class="fa-solid"></i>
    </div>
</div>
