<link rel="stylesheet" href="/lib/font-gis/css/font-gis.css" />
<link rel="stylesheet" href="/lib/fontawesome/css/all.min.css" />
<link rel="stylesheet" href="/lib/tippy.js/tippy.min.css" />
<link rel="stylesheet" href="/components/treeview/style.css">

<div id="panel">
    <div id="menu">
        <i id="options" class="fg-map-options-alt fg-2x selectable" tip="Activate advanced options"></i>
        <i id="showlegends" class="fg-map-legend fg-2x selectable" tip="Show all legends"></i>
        <i id="hidelegends" class="fg-map-legend-o fg-2x selectable" tip="Hide all legends"></i>
        <i id="swipe" class="fg-screen-split-h fg-2x selectable" tip="Swipe layers"></i>
    </div>
    <ul id="treeview-list"></ul>
    <div id="gutter"></div>
</div>

