.panel {
  color: var(--text-color);
}

.panel > div {
  padding: 1rem;
}

img.logo {
  filter: var(--svg-filter);
  height: 4rem;
  opacity: 0.8;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
