<div class="content">
  <div class="content-horizontal">
    <div class="content-vertical">
      <button class="gg-icon-button gg-small" onclick="${() => this.addBookmark()}">
        <img alt="add-icon" src="icons/bookmark-add.svg" />
      </button>
      <button class="gg-icon-button gg-small" onclick="${() => this.navigateBack()}">
        <img alt="previous-icon" src="icons/previous.svg" />
      </button>
    </div>

    <div class="content-vertical">
      <girafe-menu-button open="bottom-left">
        <button slot="menu-button" class="gg-icon-button gg-small">
          <img alt="menu-icon" src="icons/bookmark-black.svg" />
        </button>

        <div slot="menu-content" class="${this.hasBookmark ? 'menu-content' : 'hidden'}">
          ${Object.values(this.bookmarks).map(bookmark => uHtmlFor(bookmark, bookmark.name)`
          <div class="content-horizontal">
            <button
              slot="menu-button"
              class="gg-icon-button gg-small-withtext"
              onclick="${() => this.navigateToPosition(bookmark.position)}">
              <img alt="bookmark-icon" src="icons/bookmark.svg" />
              <span>${bookmark.name}</span>
            </button>
            <button slot="menu-button" class="gg-icon-button gg-small" onclick="${() => this.removeBookmark(bookmark)}">
              <img alt="menu-icon" src="icons/trash.svg" />
            </button>
          </div>
          ` )}
        </div>
        <div slot="menu-content" class="${this.hasBookmark ? 'hidden' : 'menu-content'}">
          <span i18n="No bookmark">No bookmark.</span>
        </div>
      </girafe-menu-button>

      <button slot="menu-button" class="gg-icon-button gg-small" onclick="${() => this.navigateForward()}">
        <img alt="menu-icon" src="icons/next.svg" />
      </button>
    </div>
  </div>
</div>
