<link rel="stylesheet" href="components/projection/style.css" />

<girafe-menu-button id="menu-button" icon-style="fa-xl fa-solid fa-earth-europe" open="left">
  <div slot="menu-content">
    <girafe-button icon-style="fa-xl fa-solid fa-earth-europe" message="Map" action="changeProjection" data-projection="EPSG:3857"></girafe-button>
    <girafe-button icon-style="fa-xl fa-solid fa-earth-europe" message="Map" action="changeProjection" data-projection="EPSG:4326"></girafe-button>
    <girafe-button icon-style="fa-xl fa-solid fa-earth-europe" message="Map" action="changeProjection" data-projection="EPSG:2056"></girafe-button>
  </div>
</girafe-menu-button>
