#content div {
  padding: 1rem 2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td.label {
  text-align: right;
  padding-right: 1rem;
  color: var(--text-color-grad1);
  width: 8rem;
  vertical-align: top;
}

td.label:after {
  content: ' :';
}

button {
  flex-grow: 1;
  border: none;
  background-color: unset;
  color: var(--text-color-grad1);
  padding: 0.5rem;
  cursor: pointer;
}

button > img {
  max-height: calc(var(--window-header-height) / 2);
}

#previous i {
  float: left;
}

#next i {
  float: right;
}

#tools {
  display: flex;
  justify-content: space-around;
}

#counter {
  line-height: var(--window-footer-height);
  height: var(--window-footer-height);
  text-align: center;
  margin-top: 0;
}

/** ==== Layers Dropdown ==== */
#layers-dropdown {
  background-color: var(--bkg-color);
  border: solid 1px var(--bkg-color-grad2);
  padding: 0.5rem 0;

  position: absolute;
  bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

option.layers-dropdown-item {
  cursor: pointer;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

option.layers-dropdown-item:hover {
  background-color: var(--bkg-color-grad1);
}
