* {
    margin:0;
    padding:0;
    font-family: Arial;
    font-size : 0.9rem;
}
header {
    position: fixed;
    top:0;
    left:0;
    border-bottom : solid 1px #ddd;
    background : #fff;
    height : 3.5rem;
    width : 100%;
    z-index:100;
    padding: 0.5rem;
    display:flex;
}
footer {
    position : fixed;
    bottom : 0;
    left : 26rem;
    border : none;
    height : 1.5rem;
    width : 100%;
    z-index:100;
    background-color: transparent;
    padding-left : 0.5rem;
}
girafe-map {
    position : fixed;
    top : 4.5rem;
    left: 0;
    right:0;
    bottom: 0;
}
girafe-tree-view {
    position: fixed;
    left:0;
    top: 4.5rem;
    bottom: 0;
    width: 25rem;
    z-index:90;
    border-right: solid 1px #ddd;
    padding: 0.5rem;
    background: #fff;
    overflow: auto;
}

#logo {
    height: 3.5rem;
    margin-right: 3rem;
    margin-top: -0.2rem;
}

girafe-search {
    margin-top: 0.5rem;
}

girafe-toolbar {
    width : auto;
    margin-left:auto;
    margin-right: 3rem;
}

#buttonbar {
    width : auto;
    line-height: 3.5rem;
    margin-left:auto;
    margin-right: 3rem;
}

#buttonbar a {
    margin : 0.5rem;
}