.lbl {
  position: inherit;
  top: -0.75rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-right: solid 1px #fff;
  width: 4rem;
  height: 4.6rem;
  text-align: center;
  background-color: var(--bkg-color-grad1);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 2.2rem;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 1.4rem;
  width: 3rem;
  height: 1.5rem;
  vertical-align: middle;
  background-color: var(--bkg-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.3rem;
  width: 1.3rem;
  left: 4px;
  bottom: 0.1rem;
  background-color: var(--text-color-grad1);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #222;
}

input:focus+.slider {
  box-shadow: 0 0 1px #222;
}

input:checked+.slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1rem;
}

.slider.round:before {
  border-radius: 50%;
}