<div class="container">
  <label class="${this.state.interface.darkFrontendMode ? 'switch checked' : 'switch'}">
    Dark mode on interface
    <input
      type="checkbox"
      onclick="${() => this.darkFrontendModeToggled()}"
      onkeydown="${(e:KeyboardEvent) => this.simulateClick(e)}"
      ?checked="${this.state.interface.darkFrontendMode}" />

    <span tip="Dark mode on interface" class="slider"></span>
  </label>
  <label class="${this.state.interface.darkMapMode ? 'switch checked' : 'switch'}">
    Dark mode on map
    <input
      type="checkbox"
      onclick="${() => this.state.interface.darkMapMode = !this.state.interface.darkMapMode}"
      onkeydown="${(e:KeyboardEvent) => this.simulateClick(e)}"
      ?checked="${this.state.interface.darkMapMode}" />
    <span tip="Dark mode on map" class="slider"></span>
  </label>
</div>
