#ol-map-container {
    height: 100%;
    width: 100%;
}

.ol-zoom {
    right: 1rem;
    top: 1rem;
    left: unset;
}

#swiper {
    display: none;
    width: 100%;
    position:absolute;
    bottom: 2rem;
    height: 0.2rem;
}
