/* SPDX-License-Identifier: Apache-2.0 */
.menu-item {
  background-color: white;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 7px #0004382c);
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.menu-item:active {
  background-color: #c6ceda;
}

.menu-item-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

.menu-item-image-container > img {
  width: 25%;
  opacity: 0.7;
}

.menu-item-title-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  color: #3f68a7;
}
