<link rel="stylesheet" href="components/globe/style.css" />

<girafe-menu-button id="menu-button" icon-style="fa-xl fa-solid fa-globe" text="2D / 3D" open="left">
  <div slot="menu-content">
    <girafe-button icon-style="fa-xl fa-solid fa-map" text="2D" state-action="globe.display" data-value="none"></girafe-button>
    <girafe-button icon-style="fa-xl fa-solid fa-right-left" text="Both" state-action="globe.display" data-value="side"></girafe-button>
    <girafe-button icon-style="fa-xl fa-solid fa-earth-europe" text="3D" state-action="globe.display" data-value="full"></girafe-button>
  </div>
</girafe-menu-button>
