<link rel="stylesheet" href="styles/common.css" />

<girafe-menu-button icon-style="fa-xl fa-solid fa-globe" text="Layout" open="left">
  <button slot="menu-button" class="girafe-button-medium">
    <img alt="menu-icon" src="${this.iconGlobe}" />
    <span>Layout</span>
  </button>

  <button slot="menu-content" class="girafe-button-medium" onclick="${() => this.state.globe.display='none'}">
    <img alt="help-icon" src="${this.icon2D}" />
    <span>2D</span>
  </button>
  <button slot="menu-content" class="girafe-button-medium" onclick="${() => this.state.globe.display='side'}">
    <img alt="help-icon" src="${this.iconSplit}" />
    <span>Dual</span>
  </button>
  <button slot="menu-content" class="girafe-button-medium" onclick="${() => this.state.globe.display='full'}">
    <img alt="help-icon" src="${this.icon3D}" />
    <span>3D</span>
  </button>
</girafe-menu-button>
